
  <div class="container pt-3">
    <div class="row">
      <% @ninhos.each do |ninho| %>
        <div class="col-md-12 col-sm-12 col-xl-6">
          <div class="ninho-card">
            <div class="wrapper">
              <div class="product-img">
                <% if ninho.photo.attached? %>
                  <%= cl_image_tag ninho.photo.key, height: 321, width: 250, crop: :fill %>
                <% else%>
                  <h1>Anexar foto</div>
                <%end%>
              </div>
              <div class="product-info">
                <div class="product-text">
                  <h1><%= ninho.nome %></h1>
                  <h1><%=ninho.descricao%> </h1>
                </div>
                <div class="price-flex">
                  <p>R$<%= ninho.valor %> </p>
                  <div class="product-price-btn">
                      <%= link_to ninho_url(ninho) do  %>
                        <button type="button"><a href="https://api.whatsapp.com/send?phone=+551198132-4943" style="color:white">Comprar</a></button>
                      <% end  %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
